TESSER_BASE_URL=https://sandbox.tesserx.co
TESSER_AUTH_URL=https://dev-awqy75wdabpsnsvu.us.auth0.com/oauth/token
TESSER_AUDIENCE=https://sandbox.tesserx.co
TESSER_CLIENT_ID=
TESSER_CLIENT_SECRET=
TESSER_TIMEOUT_SECONDS=30
ADMIN_API_SECRET=

KRAKEN_API_KEY=
KRAKEN_API_SECRET=
KRAKEN_BASE_URL=https://api.kraken.com
KRAKEN_REQUEST_TIMEOUT_SECONDS=30

SIGNING_PUBLIC_KEY=
SIGNING_PRIVATE_KEY=
SIGNING_ENCLAVE_ID=

OPENFX_WEBHOOK_SIGNING_KEY=

BASIS_THEORY_TOKEN=
BASIS_THEORY_API_KEY=
BASIS_THEORY_BASE_URL=https://api.basistheory.com

TEMPO_MAINNET_RPC_URL=
TEMPO_MODERATO_RPC_URL=
TEMPO_TURNKEY_PUBLIC_KEY=
TEMPO_TURNKEY_PRIVATE_KEY=
TEMPO_TURNKEY_ORGANIZATION_ID=
TEMPO_SPONSOR_PRIVATE_KEY=
