TESSER_BASE_URL=https://sandbox.tesserx.co
TESSER_AUTH_URL=https://dev-awqy75wdabpsnsvu.us.auth0.com/oauth/token
DEBUG_MODE=false

# Get this from the Tesser sandbox dashboard
TESSER_CLIENT_ID=
TESSER_CLIENT_SECRET=

# A for without tenant, B for with tenants, or BOTH for both
ENABLE_VARIANTS=B

# Only used for simulating a deposit into Circle
# Sign up here: https://app-sandbox.circle.com/signup/sandbox
CIRCLE_API_KEY=

# Must be an address with a USDC trustline
BENEFICIARY_WALLET_ADDRESS=GCE5TKW3KAJJB3DPKXFWRIAKJEVOW6BDFGO6R4NRWS2JSZWRYNB2NKQG

# Only used for circle-payment-test.ts
CIRCLE_FROM_WALLET_ID=
CIRCLE_TO_WALLET_ID=

# Only used for tesser-payment-test.ts
TESSER_FROM_ACCOUNT_ID=
TESSER_TO_ACCOUNT_ID=
