name: E2E Tests

on:
  repository_dispatch:
    types: [platform-deploy]
  workflow_dispatch:

jobs:
  e2e:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
      - run: bun install
      - run: bun run index.ts
        env:
          TESSER_CLIENT_ID: ${{ secrets.TESSER_CLIENT_ID }}
          TESSER_CLIENT_SECRET: ${{ secrets.TESSER_CLIENT_SECRET }}
